.main-header {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #212121;
    margin-bottom: 0;
}

.main-subheader {
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #424242;
    margin-top: 0;
}